@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 300px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  color: #333333;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: sans-serif;
  font-size: 0.75rem;
  color: #000000;
  font-weight: 100;
  letter-spacing: 0.0625rem;
}

p {
  font-family: "Roboto", sans-serif;
  color: #2B2B2B;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.5px;
  font-weight: 200;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

.socialNavigation {
  padding: 1rem 0.5rem;
}
.socialNavigation li {
  display: inline-block;
  margin-right: 0.5rem;
}
.socialNavigation li a i {
  color: #333333;
  transition: 0.3s;
  padding: 0.5rem;
  border-radius: 100%;
}
.socialNavigation li a :hover {
  color: white;
  background: #03A9F5;
}

.btn {
  height: 2rem;
  background-color: #03A9F5;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 900;
  letter-spacing: 0.0625rem;
  color: #fff;
  line-height: 2rem;
  padding: 0.625rem 2rem;
  border-radius: 2rem;
  transition: 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #03A9F5;
  border: 1px solid #03A9F5;
}

.sectionSubHeading {
  font-size: 1rem;
  color: #03A9F5;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  position: relative;
}

.sectionSubHeading::before {
  content: "";
  height: auto;
  width: 2rem;
  position: absolute;
  border-top: 3px solid #03A9F5;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

header {
  height: 10vh;
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}
header .menuIcon {
  height: 2rem;
  width: 1.25rem;
  position: absolute;
  top: 50%;
  left: 1.875rem;
  transform: translateY(-50%);
}
header .menuIcon span {
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
header .menuIcon span, header .menuIcon span::after, header .menuIcon span::before {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 0.125rem;
  background-color: #000000;
  transition: 0.3s;
}
header .menuIcon span::after {
  top: 5px;
}
header .menuIcon span::before {
  bottom: 5px;
}
header .open span {
  transform: rotate(45deg);
}
header .open span::before {
  opacity: 0;
}
header .open span::after {
  transform: rotate(90deg);
  top: 0px;
}
header .logo {
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
header .logo img {
  height: 100%;
  width: 100%;
}

.menuContent {
  width: 100%;
  height: 100%;
  position: fixed;
  left: -100%;
  padding: 6rem 3rem;
  background-color: #fff;
  transition: 0.3s ease;
}
.menuContent .navigation ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.8rem 0;
}
.menuContent .navigation ul li span {
  font-size: 2rem;
  color: #D9D9D9;
  padding: 0 0.5rem;
}
.menuContent .navigation ul li .active {
  color: #03A9F5;
}
.menuContent li {
  list-style: none;
}
.menuContent footer {
  padding: 0rem 0.5rem;
}
.menuContent footer h3 {
  font-size: 0.75rem;
}
.menuContent footer p {
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  padding: 0.5rem 0;
  color: #495057;
}

.mainContent {
  height: auto;
  width: 100%;
  margin-top: 10vh;
}
.mainContent .workGallerySec {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(5rem);
}
.mainContent .workGallerySec .item {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.mainContent .workGallerySec .item .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: 0.7s;
  opacity: 0%;
  color: #fff;
  cursor: pointer;
}
.mainContent .workGallerySec .item .overlay .overlayDetails {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.mainContent .workGallerySec .item .overlay .overlayDetails i {
  font-size: 3rem;
  line-height: 0;
  font-weight: 600;
}
.mainContent .workGallerySec .item .overlay .overlayDetails h1 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  padding-bottom: 0.5rem;
}
.mainContent .workGallerySec .item .overlay .overlayDetails h4 {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.mainContent .workGallerySec .item .overlay:hover {
  opacity: 100%;
  background-color: rgba(0, 179, 255, 0.7450980392);
}
.mainContent .workGallerySec .item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainContent .workGallerySec .gridItem1 {
  grid-row: 1/3;
}
.mainContent .workGallerySec .gridItem6 {
  grid-column: 1/3;
}
.mainContent .serviceSec {
  height: auto;
  width: 100%;
  padding: 10vh 1rem 1rem;
  text-align: center;
}
.mainContent .serviceSec .serviceDetails {
  height: auto;
  width: 100%;
  margin: 2rem 0;
}
.mainContent .serviceSec .serviceDetails .sectionSubHeading {
  font-size: 1rem;
  color: #03A9F5;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  position: relative;
}
.mainContent .serviceSec .serviceDetails .sectionSubHeading::before {
  content: "";
  height: auto;
  width: 2rem;
  position: absolute;
  border-top: 3px solid #03A9F5;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.mainContent .serviceSec .serviceDetails h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding: 2rem;
  font-weight: 600;
}
.mainContent .serviceSec .serviceDetails p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #737373;
  text-align: center;
  padding: 1rem 2rem 2rem;
}
.mainContent .serviceSec .serviceCard {
  height: auto;
  width: 100%;
  padding: 2rem 0;
}
.mainContent .serviceSec .serviceCard .card {
  height: auto;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  cursor: pointer;
}
.mainContent .serviceSec .serviceCard .card i {
  font-size: 3rem;
  color: #737373;
  padding: 2rem;
}
.mainContent .serviceSec .serviceCard .card h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: #000000;
  padding: 0 0 1rem;
}
.mainContent .serviceSec .serviceCard .card p {
  font-family: "Roboto", sans-serif;
  color: #737373;
  padding: 0 0 1rem;
  font-size: 1rem;
}
.mainContent .serviceSec .serviceCard .card:hover {
  border-radius: 1.5rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.05);
}
.mainContent .skill {
  height: auto;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 1rem;
}
.mainContent .skill .details {
  height: auto;
  width: 100%;
}
.mainContent .skill .details h1 {
  font-size: 2rem;
  padding: 2rem;
}
.mainContent .skill .details p {
  font-size: 1rem;
  color: #737373;
  padding: 0 2rem 2rem;
}
.mainContent .skill .progressSec {
  height: auto;
  width: 100%;
  padding: 2rem;
}
.mainContent .skill .progressSec .progressItem {
  height: 5rem;
  width: 100%;
  padding: 1rem;
  text-align: left;
}
.mainContent .skill .progressSec .progressItem p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #737373;
  padding: 0.5rem 0;
}
.mainContent .skill .progressSec .progressBar {
  height: 0.875rem;
  width: 100%;
  background-color: #E9ECEF;
  border-radius: 10px;
}
.mainContent .skill .progressSec .progressBar span {
  height: 100%;
  width: 90%;
  display: block;
  position: relative;
  background-color: #03A9F5;
  border-radius: 10px;
}
.mainContent .skill .progressSec .progressBar span::after {
  content: "90";
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.mainContent .skill .progressSec .bar1 span {
  width: 89%;
}
.mainContent .skill .progressSec .bar1 span::after {
  content: "89";
}
.mainContent .skill .progressSec .bar2 span {
  width: 95%;
}
.mainContent .skill .progressSec .bar2 span::after {
  content: "95";
}
.mainContent .skill .progressSec .bar3 span {
  width: 97%;
}
.mainContent .skill .progressSec .bar3 span::after {
  content: "97";
}
.mainContent .skill .progressSec .bar4 span {
  width: 82%;
}
.mainContent .skill .progressSec .bar4 span::after {
  content: "82";
}
.mainContent .quoteSec {
  height: auto;
  width: 100%;
  padding: 3rem 3rem 0;
  margin: auto;
  text-align: center;
}
.mainContent .quoteSec .quoteBox {
  height: auto;
  width: 80%;
  padding: 2rem;
  margin: 2rem auto;
  text-align: center;
  position: relative;
}
.mainContent .quoteSec .quoteBox p {
  quotes: "“" "„";
  position: relative;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
}
.mainContent .quoteSec .quoteBox p span {
  color: #03A9F5;
}
.mainContent .quoteSec .quoteBox h2 {
  font-size: 0.875rem;
  color: #03A9F5;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.mainContent .quoteSec .quoteBox:hover {
  border-radius: 1.5rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.05);
}
.mainContent .quoteSec .quoteBox::before {
  content: "“";
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.15);
  font-family: sans-serif;
}
.mainContent .quoteSec .quoteBox::after {
  content: "„";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.15);
  font-family: sans-serif;
}
.mainContent .projectSec {
  height: auto;
  width: 100%;
  text-align: center;
  padding: 10vh 0 0;
}
.mainContent .projectSec .projectSlide {
  height: auto;
  width: 100%;
}
.mainContent .projectSec .projectSlide .projectPhoto {
  height: 20rem;
  width: 100%;
}
.mainContent .projectSec .projectSlide .projectPhoto img {
  height: 20rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainContent .projectSec .projectSlide .projectDetails {
  height: auto;
  width: 100%;
  padding: 3rem;
}
.mainContent .projectSec .projectSlide .projectDetails h1 {
  font-size: 1.5rem;
  color: #333333;
  padding: 2rem;
}
.mainContent .priceSec {
  height: auto;
  width: auto;
  text-align: center;
  padding: 10vh 0 0;
}
.mainContent .priceSec .priceSecHeading {
  height: auto;
  width: 100%;
  padding: 3rem;
}
.mainContent .priceSec h1 {
  font-size: 2rem;
  padding: 2rem;
}
.mainContent .priceSec .priceCard {
  height: auto;
  width: 80%;
  margin: auto;
  padding: 4rem 2rem;
  border-radius: 1rem;
  transition: 0.3s;
}
.mainContent .priceSec .priceCard:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.mainContent .priceSec .priceCard .priceCategory {
  font-size: 1.5rem;
  padding: 0;
  margin: 0 0 0.5rem;
}
.mainContent .priceSec .priceCard p {
  margin: 0 0 1.5rem;
}
.mainContent .priceSec .priceCard .price {
  font-size: 3.75rem;
  margin-bottom: 1.5rem;
  quotes: "$" "$";
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
}
.mainContent .priceSec .priceCard .price::before {
  content: "$";
  font-size: 1.5rem;
  position: absolute;
  top: 15%;
  left: -15%;
}
.mainContent .priceSec .priceCard .price::after {
  content: "/Month";
  font-size: 1rem;
}
.mainContent .priceSec .priceCard .featureList {
  height: auto;
  width: auto;
  margin-bottom: 1.5rem;
}
.mainContent .priceSec .priceCard .featureList li {
  font-size: 1rem;
  color: #737373;
  margin-bottom: 0.625rem;
  font-family: "Montserrat", sans-serif;
}
.mainContent .clientSec {
  height: 50rem;
  width: 100%;
  margin: 2rem 0;
  position: relative;
  text-align: center;
  padding: 10vh 0 0;
}
.mainContent .clientSec .clientSliderBanner {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: -10;
}
.mainContent .clientSec::before {
  content: "";
  background-color: #03A9F5;
  height: 25rem;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.mainContent .clientSec .clientSlider {
  height: 90%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
.mainContent .clientSec .clientSlider:hover {
  box-shadow: 1px 1px 10px rgba(219, 0, 0, 0.1);
}
.mainContent .clientSec .clientSlider .clientReview {
  height: 12rem;
  width: 80%;
  margin: auto;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}
.mainContent .clientSec .clientSlider .clientReview::before {
  content: open-quote;
  font-size: 6rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.mainContent .clientSec .clientSlider .clientImg {
  height: 8rem;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainContent .clientSec .clientSlider .clientImg img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainContent .clientSec .clientSlider .clientDetails {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 30%;
}
.mainContent .clientSec .clientSlider .clientDetails .name {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  color: #03A9F5;
  margin-bottom: 0.5rem;
}
.mainContent .clientSec .clientSlider .clientDetails .profession {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #2B2B2B;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.mainContent .clientSec .clientSlider .clientSocialNavigation {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.mainContent .contactSec {
  height: auto;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
.mainContent .contactSec .googleMap {
  height: 25rem;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.5019607843);
  position: relative;
}
.mainContent .contactSec .googleMap img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainContent .contactSec .googleMap::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}
.mainContent .contactSec .addressBox {
  padding: 2rem;
}
.mainContent .contactSec .addressBox .addressArea h1 {
  margin: 1rem auto;
}
.mainContent .contactSec .addressBox .addressArea h4 {
  margin: 0.625rem auto;
  font-size: 0.875rem;
  font-weight: 600;
  color: #333333;
  font-family: "Montserrat", sans-serif;
}
.mainContent .contactSec .addressBox .addressArea .addressCountry, .mainContent .contactSec .addressBox .addressArea .mobile, .mainContent .contactSec .addressBox .addressArea .email {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  header {
    height: 100vh;
    width: 350px;
    position: fixed;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  }
  header .menuIcon {
    display: none;
  }
  header .logo {
    right: inherit;
    top: 3.5rem;
    left: 3.5rem;
  }
  header .menuContent {
    top: 2%;
    left: 0;
    height: auto;
    width: auto;
  }
  header .menuContent .navigation ul li {
    font-size: 0.875rem;
  }
  .mainContent {
    width: auto;
    margin: 0 0 0 350px;
  }
  .mainContent .workGallerySec {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .mainContent .workGallerySec .gridItem1 {
    grid-row: 1/3;
  }
  .mainContent .workGallerySec .gridItem3 {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  .mainContent .workGallerySec .gridItem5 {
    grid-column: 1/3;
    grid-row: 3/5;
  }
  .mainContent .workGallerySec .gridItem6 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .mainContent .workGallerySec .item .overlay .overlayDetails i {
    font-size: rem;
  }
  .mainContent .workGallerySec .item .overlay .overlayDetails h1 {
    font-size: 2rem;
  }
  .mainContent .serviceSec {
    padding: 1rem 3rem;
  }
  .mainContent .serviceSec .serviceDetails {
    max-width: 60rem;
    margin: auto;
  }
  .mainContent .serviceSec .serviceCard {
    max-width: 60rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    justify-content: space-around;
  }
  .mainContent .serviceSec .serviceCard .card {
    min-width: 95%;
    max-width: 20rem;
  }
  .mainContent .skill {
    max-width: 60rem;
  }
  .mainContent .quoteSec {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    justify-content: space-evenly;
    padding: 0;
    max-width: 60rem;
  }
  .mainContent .projectSec .projectSlide {
    height: 40rem;
    position: relative;
  }
  .mainContent .projectSec .projectSlide .projectPhoto {
    height: 40rem;
    position: absolute;
  }
  .mainContent .projectSec .projectSlide .projectPhoto img {
    height: 100%;
  }
  .mainContent .projectSec .projectSlide .projectDetails {
    max-width: 60rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mainContent .projectSec .projectSlide .projectDetails h1 {
    color: #fff;
  }
  .mainContent .projectSec .projectSlide .projectDetails p {
    color: rgba(255, 255, 255, 0.6901960784);
  }
  .mainContent .projectSec .projectSlide .btn {
    height: 2rem;
    line-height: 1rem;
    position: absolute;
    bottom: 10%;
    transform: translateX(-50%);
  }
  .mainContent .priceSec {
    height: auto;
    max-width: 60rem;
    margin: auto;
  }
  .mainContent .priceSec .priceCardBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    justify-content: space-evenly;
  }
  .mainContent .priceSec .priceCardBox .priceCard {
    width: 20rem;
    max-width: 20rem;
  }
  .mainContent .clientSec .clientSlider {
    max-width: 25rem;
  }
  .mainContent .contactSec {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
  }
  .mainContent .contactSec .item2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}/*# sourceMappingURL=style.css.map */