// variable

// FONT VARIABLE

$fontMontserrat: 'Montserrat', sans-serif;
$fontRoboto: 'Roboto', sans-serif;


// COLOR VARIABLE

$headingColor: #333333;
$paraColor: #2B2B2B;



// SIZE VARIABLE

$headingTxt: 1.875rem;
$paraTxt16: 1rem;
$paraTxt14: 0.875rem; 



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html{
    scroll-behavior: smooth;
}
body{
    min-width: 300px;
}


h1{
    font-family: $fontMontserrat;
    font-size: 1.875rem;
    color: $headingColor;
}
h2{
    font-family: $fontMontserrat;
}
h3{
    font-family: sans-serif;
    font-size: .75rem;
    color: #000000;
    font-weight: 100;
    letter-spacing: .0625rem;
}
p{
    font-family: $fontRoboto;
    color: $paraColor;
    font-size: $paraTxt16;
    line-height: 1.625rem;
    letter-spacing: .5px;
    font-weight: 200;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333333;
}

// MOBILE FIRST DESIGN 

// HEADER STYLE START ..................


header{
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);

    .menuIcon{
        height: 2rem;
        width: 1.25rem;
        position: absolute;
        top: 50%;
        left: 1.875rem;
        transform: translateY(-50%);
        
        span{
            position: relative;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        span, span::after, span::before{    
            content: '';  
            position: absolute;
            width: 1.25rem;
            height: .125rem;
            background-color: #000000;
            transition: .3s;
        }
        span::after{
            top: 5px;
        }
        span::before{
            bottom: 5px;
        }

        
    }

        // MENU BUTTON ANIMATION STYLE 

        .open{
            span{
                transform: rotate(45deg);
            }
            span::before{
                opacity: 0;
            }
            span::after{
                transform: rotate(90deg);
                top: 0px;
            }
            
        }


    
    .logo{
        height: 2.5rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        img{
            height: 100%;
            width: 100%;
            
        }
    }


    
}

// menu content style 


.menuContent{
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    padding: 6rem 3rem;
    background-color: #fff;

    .navigation{
        ul{

            li{
                font-family: $fontMontserrat;
                font-size: 1rem;
                font-weight: 700;
                padding: .8rem 0;
                span{
                    font-size: 2rem;
                    color: #D9D9D9;
                    padding: 0 .5rem;
                }
                .active{
                    
                   color: #03A9F5;
                   
                }

            }
        }
    }

    li{
        list-style: none;
    }
    .socialNavigation{
        padding: 1rem 0.5rem;
        li{
            display: inline-block;
            margin-right: .5rem;
            
            a{
                
                i{
                    color: #333333;
                    transition: .3s;
                    padding: .5rem;
                    border-radius: 100%;
                    
                    
                }
                :hover{
                    color: white;
                    background: #03A9F5;
                    
                }
            }
        }
    }
    footer{
        padding: 0rem 0.5rem;
        h3{
            font-size: .75rem;
        }
        p{
            font-size: .75rem;
            letter-spacing: .0625rem;
            padding: 0.5rem 0;
            color: #495057;
        }
    }

}


// MAIN STYLE .........................


.mainContent{
    height: auto;
    width: 100%;
    margin-top: 10vh;
    .workGallerySec{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(5rem);
        
        .item{
            height: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;
            .overlay{
                position: absolute;
                height: 100%;
                width: 100%;
                text-align: center;
                transition: .7s;
                opacity: 0%;
                color: #fff;
                cursor: pointer;
                
                .overlayDetails{
                    position: relative;
                    width: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    i{
                        font-size: 3rem;
                        line-height: 0;
                        font-weight: 600;
                    }
                    h1{
                        font-size: 1rem;
                        font-family: $fontMontserrat;
                        font-weight: 600;
                        color: #fff;
                        padding-bottom: .5rem;
                    }
                    h4{
                        font-size: .875rem;
                        font-family: $fontRoboto;
                        font-weight: 400;
                    }
                }
                &:hover{
                    opacity: 100%;
                    background-color: #00b3ffbe;
                }
            }
                
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .gridItem1{
            grid-row:1/3 ;
        }
        .gridItem6{
            grid-column: 1/3;
        }
    }


    // SERVICE SECTION


    .sectionSubHeading{
        font-size: 1rem;
        color: #03A9F5;
        font-family: $fontRoboto;
        padding: 1rem;
        font-weight: 600;
        letter-spacing: .0625rem;
        position: relative;
        
    }
    .sectionSubHeading::before{
        content: "";
        height: auto;
        width: 2rem;
        position: absolute;
        border-top: 3px solid #03A9F5;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }


    .serviceSec{
        height: auto;
        width: 100%;
        padding: 1rem;
        text-align: center;

        .serviceDetails{
            height: auto;
            width: 100%;
            margin: 2rem 0;
            .sectionSubHeading{
                font-size: 1rem;
                color: #03A9F5;
                font-family: $fontRoboto;
                padding: 1rem;
                font-weight: 600;
                letter-spacing: .0625rem;
                position: relative;
                
            }
            .sectionSubHeading::before{
                content: "";
                height: auto;
                width: 2rem;
                position: absolute;
                border-top: 3px solid #03A9F5;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            h1{
                font-family: $fontMontserrat;
                font-size: 2rem;
                padding: 2rem;
                font-weight: 600;
            }
            p{
                font-family: $fontRoboto;
                font-size: 1rem;
                color: #737373;
                text-align: center;
                padding: 1rem 2rem 2rem;
            }
            
        }

        .serviceCard{
            height: auto;
            width: 100%;
            padding: 2rem 0;
            .card{
                height: auto;
                width: 80%;
                margin: 1rem auto;
                padding: 1rem 2rem;
                cursor: pointer;

                i{
                    font-size: 3rem;
                    color: #737373;
                    padding: 2rem;
                    
                }
                h2{
                    font-family: $fontMontserrat;
                    font-size: 1.125rem;
                    font-weight: 600;
                    color: #000000;
                    padding: 0 0 1rem;
                }
                p{
                    font-family: $fontRoboto;
                    color: #737373;
                    padding: 0 0 1rem;
                    font-size: 1rem;
                }
                &:hover{
                    border-radius: 1.5rem;
                    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.05);
    
                }
            }
            
        }
    }

    .btn{
        height: 2rem; 
        background-color: #03A9F5;
        font-family: $fontRoboto;
        font-size: .875rem;
        font-weight: 900;
        letter-spacing: .0625rem;
        color: #fff;
        line-height: 2rem;
        padding: .625rem 2rem;
        border-radius: 2rem;
        transition: .3s;
        &:hover{
            background-color: #fff;
            color: #03A9F5;
            border: 1px solid #03A9F5;
        }
     }

    // SKILL SECTION STYLE 

    .skill{
        height: auto;
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 1rem;
        .details{
            height: auto;
            width: 100%;
            h1{
                font-size: 2rem;
                padding: 2rem;
            }
            p{
                font-size: 1rem;
                color: #737373;
                padding: 0 2rem 2rem;
            }
        }

        .progressSec{
            height: auto;
            width: 100%;
            padding: 2rem;
            .progressItem{
                height: 5rem;
                width: 100%;
                padding: 1rem;
                text-align: left;
                p{
                    font-size: 1rem;
                    font-family: $fontMontserrat;
                    font-weight: 600;
                    color: #737373;
                    padding: .5rem 0;
                }
            }
            .progressBar{
                height: .875rem;
                width: 100%;
                background-color: #E9ECEF;
                border-radius: 10px;
                span{
                    height: 100%;
                    width: 90%;
                    display: block;
                    position: relative;
                    background-color: #03A9F5;
                    border-radius: 10px;
                }
                span::after{
                    content: "90";
                    position: absolute;
                    height: 1.5rem;
                    width: 1.5rem;
                    line-height: 1.5rem;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    background-color: #fff;
                    border-radius: 100%;
                    font-family: $fontMontserrat;
                    font-weight: 600;
                    font-size: .8rem;
                    text-align: center;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
                }

                
            }

            // PROGRESSBAR SPECIFIED 
            // 1
            .bar1 span{
                width: 89%;
            }
            .bar1 span::after{
                content: "89";
            }

            // 2
            .bar2 span{
                width: 95%;
            }
            .bar2 span::after{
                content: "95";
            }

            // 3
            .bar3 span{
                width: 97%;
            }
            .bar3 span::after{
                content: "97";
            }

            // 4
            .bar4 span{
                width: 82%;
            }
            .bar4 span::after{
                content: "82";
            }
        }


    }

    // QUOTES SECTION STYLE 

    .quoteSec{
        height: auto;
        width: 100%;
        padding: 3rem;
        margin: auto;
        text-align: center;
        .quoteBox{
            height: auto;
            width: 80%;
            padding: 2rem;
            margin: 2rem auto;
            text-align: center;
            position: relative;
            p{
                quotes: '\201C' '\201E';
                position: relative;
                font-size: 1rem;
                font-family: $fontMontserrat;
                font-weight: 700;
                // padding: 2rem;
                color: #333333;
                span{
                    color: #03A9F5;
                }
            }
            h2{
                font-size: .875rem;
                color: #03A9F5;
                font-family: $fontMontserrat;
                text-align: center;
                position: absolute;
                bottom: .5rem;
                left: 50%;
                transform: translateX(-50%);
            }
            &:hover{
                border-radius: 1.5rem;
                box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.05);
            }
            &::before{
                content: "\201C";
                position: absolute;
                top: 1rem;
                left: 1rem;
                font-size: 5rem;
                color: rgba(0, 0, 0, 0.15);
                font-family: sans-serif;
            }
            &::after{
                content: "\201E";
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                font-size: 5rem;
                color: rgba(0, 0, 0, 0.15);
                font-family: sans-serif;
            }
        }
    }

    // PROJECT SETCION STYLE 

    .projectSec{
        height: auto;
        width: 100%;
        text-align: center;
        padding: 2REM 0;
        .projectSlide{
            height: auto;
            width: 100%;
            .projectPhoto{
                height: 20rem;
                width: 100%;
                img{
                    height: 20rem;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .projectDetails{
                height: auto;
                width: 100%;
                padding: 3rem;
                h1{
                    font-size: 1.5rem;
                    color: #333333;
                    padding: 2rem;

                }
            }
        }


    }

    // PRICE SECTION STYLE 

    .priceSec{
        height: auto;
        width: auto;
        // padding: 3rem;
        text-align: center;
        .priceSecHeading{
            height: auto;
            width: 100%;
            padding: 3rem;
        }
        h1{
            font-size: 2rem;
            padding: 2rem;
        }
        .priceCard{
            height: auto;
            width: 25rem;
            margin: 3rem auto;
            padding: 4rem 2rem;
            border-radius: 1rem;
            transition: .3s;
            &:hover{
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
            }
            .priceCategory{
                font-size: 1.5rem;
                padding: 0;
                margin: 0 0 .5rem;
            }
            p{
                margin: 0 0 1.5rem;
            }
            .price{
                font-size: 3.75rem;
                margin-bottom: 1.5rem; quotes: "$" "$";
                position: relative;
                display: inline-block;
                margin-bottom: 1.5rem;
                &::before{
                    content: "$";
                    font-size: 1.5rem;
                    position: absolute;
                    top: 15%;
                    left: -15%;
                }
                &::after{
                    content: "/Month";
                    font-size: 1rem;
                }
            }
            .featureList{
                height: auto;
                width: auto;
                margin-bottom: 1.5rem;
                li{
                    font-size: 1rem;
                    color: #737373;
                    margin-bottom: .625rem;
                    font-family: $fontMontserrat;

                }
            }
        }
    }

}













// ============ MediaQueries Start from here =========== 


// header ..................

@media only screen and(min-width: 768px) {
    // body{
    //     display: flex;
    //     flex-direction: row;
    // }
    header{
        height: 100vh;
        width: 350px;
        position: fixed;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
        .menuIcon{
            display: none;
        }
        .logo{
            right: inherit;
            top: 3.5rem;
            left: 3.5rem;
        }
        .menuContent{
            top: 2%;
            left: 0;
            height: auto;
            width: auto;
            .navigation{
                ul{
                    li{
                        font-size: .875rem;
                    }
                }
            }

        }
    }

    .mainContent{
        width: auto;
        margin: 0 0 0 350px;
        .workGallerySec{
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .gridItem1{
                grid-row: 1/3;
            }
            .gridItem3{
                grid-column: 3/5;
                grid-row: 1/3;
            }
            .gridItem5{
                grid-column: 1/3;
                grid-row: 3/5;
            }
            .gridItem6{
                grid-column: 3/5;
                grid-row: 3/4;
            }
            .item{
                .overlay{
                    .overlayDetails{
                        i{
                            font-size: rem;
                        }
                        h1{
                            font-size: 2rem;
                        }
                }
            }
            }
        }

        // SERVICE SECTION
        .serviceSec{
            padding: 1rem 3rem;
            .serviceDetails{
                max-width: 60rem;
                margin: auto;
            }
            .serviceCard{
                max-width: 60rem ;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(auto-fill, 15rem);
                justify-content: space-around;

                .card{
                    min-width: 95%;
                    max-width: 20rem;

                }
            }

        }

        // SKILL SECTION 
        .skill{
            max-width: 60rem;
        }

        // QUOTE SECTION 
        .quoteSec{
            display: grid;
            grid-template-columns: repeat(auto-fill, 25rem);
            justify-content: space-around;
            padding: 0;
            max-width: 60rem;
        }

        // PROJECT SECTION  
        .projectSec{
            .projectSlide{
                height: 40rem;
                position: relative;
                .projectPhoto{
                    height: 40rem;
                    position: absolute;
                    img{
                        height: 100%;
                    }
                }
                
                .projectDetails{
                    max-width: 60rem;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.3);
                    border-radius: 2rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                   h1{
                    color: #fff;
                    }
                    p{
                        color:#ffffffb0;
                    }

                }
                .btn{
                    height: 2rem;
                    line-height: 1rem;
                    position: absolute;
                    bottom: 10%;
                    transform: translateX(-50%);
                }
            }
        }

        // PRICE SECTION 
        .priceSec{
            height: auto;
            max-width: 60rem;
            margin: auto;
            .priceCardBox{
            display: grid;
            grid-template-columns: repeat(auto-fill, 20rem);
            justify-content: space-around;
            .priceCard{
                max-width: 20rem;
            }
            }
        }
    }


}


